<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eatery Menu API</title>
    <!-- Meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="An API for interacting with Eatery lunch menus."/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/logos/favicon-16x16.png">
    <link rel="manifest" href="/static/logos/site.webmanifest">
    <link rel="mask-icon" href="/static/logos/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/logos/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/static/logos/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Tailwind -->
    <link rel="stylesheet" href="/static/css/output.css">
    <!-- Iconify -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"
            integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"
          integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/nord.min.css"
          integrity="sha512-sPc4jmw78pt6HyMiyrEt3QgURcNRk091l3dZ9M309x4wM2QwnCI7bUtsLnnWXqwBMECE5YZTqV6qCDwmC2FMVA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"
            integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/fold/foldcode.min.js"
            integrity="sha512-Q2qfEJEU257Qlqc4/5g6iKuJNnn5L0xu2D48p8WHe9YC/kLj2UfkdGD01qfxWk+XIcHsZngcA8WuKcizF8MAHA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/fold/brace-fold.min.js"
            integrity="sha512-5MuaB1PVXvhsYVG0Ozb0bwauN7/D1VU4P8dwo5E/xiB9SXY+VSEhIyxt1ggYk2xaB/RKqKL7rPXpm1o1IlTQDA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-gray-800 min-h-screen p-5 flex flex-col text-white justify-center align-center place-items-center">
<div class="w-3/4 flex-col space-y-3">
    <h1 class="text-5xl font-bold">Eatery Menu API</h1>
    <p class="text-xl">This web page hosts a lunch meny API for Eatery restaurants.</p>
    <p class="text-xl">Currently cached restaurants are: {{ ",".join(saved_menus_list) }})</p>
    <div id="warning" class="bg-red-600 rounded-lg border-2 border-white p-3">
        <h3 class="text-lg font-bold">Note:</h3>
        <p>Please note that the API is entirely unofficial and is not run by anyone that is associated with Eatery.
            {# Provide host email address if set in the configuration #}
            {% if host_email_address is not none %}
            If you are a representative from Eatery and you do not like this website being ran, please contact the <a
                    href="mailto:{{host_email_address}}" class="underline hover:cursor-pointer">website
                administrator</a>.
            {% endif %}
        </p>
    </div>
    {% if statistics_data is not none %}
    <h3 class="text-2xl font-bold">Statistics</h3>
    <p>
    <ul class="list-disc">
        <li><b>Requests the last day:</b> {{ statistics_data.requests.daily.count }}</li>
        <li><b>Requests this week: </b> {{ statistics_data.requests.weekly.count }}</li>
        <li><b>Requests this month:</b> {{ statistics_data.requests.monthly.count }}</li>
        <li><b>Total requests:</b> {{ statistics_data.requests.all_time.count }}</li>
    </ul>
    </p>
    {% endif %}
    <h3 class="text-2xl font-bold">How to interact with the API</h3>
    <h3 class="text-xl font-bold">Endpoints</h3>
    <p class="text-xl font-semibold"><span
            class="bg-green-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-white font-bold">GET</span><span
            class="bg-gray-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-black font-mono font-bold">/api/</span> Get the
        default menu for the current week.</p>
    <p>This endpoint will use the default server restaurant, which is {{ default_menu_id }}.
        It will retrieve the lunch menu for the restaurant for the current week in Swedish timezone.</p>
    <p class="text-xl font-semibold"><span
            class="bg-green-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-white font-bold">GET</span><span
            class="bg-gray-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-black font-mono font-bold">/api/{menu_id}/{week_number}</span>
        Get a menu for a requested week</p>
    <p>This endpoint works like the <a>Get the default menu for the current week</a> endpoint but with further
        customizability.</p>
    <p class="font-bold">Parameter: menu_id</p>
    The Eatery restaurant to retrieve the cached menu for. The IDs can be found <a
        class="underline hover:cursor:pointer" href="" target="_blank">here</a> (the IDs are the keys at the top level
    in the response JSON, for example "kista_nod").
    <span>Note that not all Eatery restaurants may be cached on this server. The actively cached restaurants are:</span>
    <ul class="list-disc">
        {# Show cached menu IDs as set in the configuration file #}
        {% for saved_menu in saved_menus_list %}
        <li>{{ saved_menu }}</li>
        {% endfor %}
    </ul>
    <div class="bg-gray-400 text-black p-3 rounded-lg border-2 border-white">
        <h5 class="font-bold">Note</h5>
        <p>On May 31, 2022, the format of the menu ID parameter was switched to instead primarily accept an ID like
            "kista_nod". This is since Eatery tends to change their menu ID every once in a while,
            but providing the ID like this will allow the API to avoid that issue.
            <br>
            To access menus, you can still use the menu ID (for example 2401), but it is not recommended in case Eatery
            changes it.
        </p>
    </div>
    <div class="bg-gray-500 p-3 rounded-lg border-2 border-white">
        <h5 class="font-bold">News!</h5>
        <p>From 21st september 2022, earlier menus are saved and "cached" on the server.
            This means that you can use this endpoint to retrieve earlier menus. If a menu would be changed under a
            week, the previous menu will be saved and made available under "previous_revisions" in the API-response.</p>
    </div>
    <p class="text-xl font-semibold"><span
            class="bg-green-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-white font-bold">GET</span><span
            class="bg-gray-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-black font-mono font-bold">/api/{menu_id}/{week_number}/{day_number}</span>
        Hämta meny för en specifik dag</p>
    <p>This endpoint can be used to retrieve and endpoint for a certain day. It will return just the menu for that
        particular day.</p>
    <p class="font-bold">Parameter: menu_id</p>
    <p>The Eatery-restaurant that the menu should be retrieved for. See above for a list of valid parameters.</p>
    <p class="font-bold">Parameter: week_number</p>
    <p>The week number that the meny should be retrieved for.</p>
    <p class="font-bold">Parameter: day_number</p>
    <p>The number of the day to retrieve the menu for (monday-sunday). The span of this number is 1-7. <i>Note that
        Eatery doesn't usually serve food on Saturdays and Sundays, and therefore their menus would be unavailable that
        day.</i></p>
    <p class="text-xl font-semibold"><span
            class="bg-green-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-white font-bold">GET</span><span
            class="bg-gray-400 rounded-lg pl-3 pr-3 pt-1 pb-1 mr-3 text-black font-mono font-bold">/api/available_menus</span>
        Hämta tillgängliga menyer</p>
    <p>Retrieves a list of menus served on the server. You can use this data for example with the endpoints where you
        can enter the week menu to retrieve older menus listed here.</p>
    <p class="font-bold">Parameter: week_number</p>
    <p>The week number to get the menu for.</p>
    <h3 class="text-xl font-bold">Expected responses</h3>
    <p class="font-bold">For menu-related endpoints:</p>
    <p>If the requested menu is cached on the server, you should get a response like this:</p>
    <textarea id="menu-response">{
  "menu": {
    "title": "Lunch v.38 Eatery Kista Nod",
    "week_number": 38,
    "days": {
      "monday": {
        "day_name": {
          "swedish": "Måndag",
          "english": "Monday"
        },
        "dishes": [
          "Köttbullar med kokt potatis, brunsås , lingon & pressgurka",
          "Panerad fisk med remouladsås & kokt potatis",
          "Piccata på kålrot med tomatsås & ris"
        ],
        "special_features": {
          "sweet_tuesday": false,
          "fruity_wednesday": false,
          "pancake_thursday": false,
          "burger_friday": false
        }
      },
      "tuesday": {
        "day_name": {
          "swedish": "Tisdag",
          "english": "Tuesday"
        },
        "dishes": [
          "Ugnsbakad falukorv med potatismos & senap",
          "Räkgryta Indienne med kokosgrädde & ris",
          "Tagine gryta med ris (kikärtor, russin, saffran mm)",
          "Sweet Tuesday: Vi bjuder på något sött till maten"
        ],
        "special_features": {
          "sweet_tuesday": true,
          "fruity_wednesday": false,
          "pancake_thursday": false,
          "burger_friday": false
        }
      },
      "wednesday": {
        "day_name": {
          "swedish": "Onsdag",
          "english": "Wednesday"
        },
        "dishes": [
          "Kalops med rödbetor & kokt potatis",
          "Lax i krämig gräddsås med spenat & cocktailtomat serveras med ris.",
          "Pasta Marinara med hembakat vitlöksbröd"
        ],
        "special_features": {
          "sweet_tuesday": false,
          "fruity_wednesday": false,
          "pancake_thursday": false,
          "burger_friday": false
        }
      },
      "thursday": {
        "day_name": {
          "swedish": "Torsdag",
          "english": "Thursday"
        },
        "dishes": [
          "Kycklingnuggets med ris & citronmajonnässås",
          "Jambalaja med räkor, ris & aioli",
          "Krämig linssoppa med kokosgrädde & fake bacon",
          "Pancake Thursday: Vi bjuder på pannkakor, lättvispad grädde och hemmagjord sylt!"
        ],
        "special_features": {
          "sweet_tuesday": false,
          "fruity_wednesday": false,
          "pancake_thursday": true,
          "burger_friday": false
        }
      },
      "friday": {
        "day_name": {
          "swedish": "Fredag",
          "english": "Friday"
        },
        "dishes": [
          "Hamburgare med tillbehör serveras med ugnsrostad potatis",
          "Fiskgratäng med champinjonsås & kokt potatis",
          "Vegoburgare med  tillbehör serveras med ugnsrostad potatis"
        ],
        "special_features": {
          "sweet_tuesday": false,
          "fruity_wednesday": false,
          "pancake_thursday": false,
          "burger_friday": false
        }
      }
    },
    "footer": "Allergisk? Fråga oss!"
  },
  "menu_id": 521,
  "last_retrieved_at": 1663955103.240052,
  "status": "success",
  "status_code": 200
}</textarea>
    <p>If the requested menu does not exist on the server, you will get a 404 Not Found response.</p>
    <p>Om den efterfrågade menyn inte finns på servern så kommer du att få ett 404 Not Found-svar som säger vad som är
        fel.</p>
    <p class="font-bold">For the list of menus</p>
    <textarea id="menu-list-response">{
  "available_menus": {
    "kista-nod": {
      "available_weeks": [
        38
      ]
    }
  },
  "status": "success",
  "status_code": 200
}</textarea>
    <p>If the parameters passed are invalid, you will get a 400 Bad Request response.</p>
    <p>All other status codes are unexpected and might indicate an error with the server.</p>
    <p>For the status codes that are expected, the server should return a JSON that indicates what went wrong, for
        example:</p>
    <textarea id="error-response">{
  "message": "Menu is not available.",
  "status": "error",
  "status_code": 404
}</textarea>
    <hr class="w-full">
    <p class="flex flex-row gap-3"><a href="https://github.com/sotpotatis/EateryCacher"
                                      class="underline hover:cursor-pointer" target="_blank"><span class="iconify"
                                                                                                   data-icon="akar-icons:github-fill"></span></a>
        {% if host_email_address is not none %}<a href="mailto:{{ host_email_address }}"
                                                  class="underline hover:cursor-pointer" target="_blank"><span
                class="iconify" data-icon="entypo:mail"></span></a></p>{% endif %}
</div>
<!-- Code editors -->
<script src="/static/js/editors.js"></script>
</body>
</html>
