[Unit]
Description=Runs the Eatery meny downloader code.
[Service]
ExecStart=/home/ubuntu/eatery_menu/EateryCacher/run_menu_downloader.sh
[Install]
WantedBy=multi-user.target